@media screen and (max-width: 600px) {
  .overlayContent {
    width: 100%;
  }

  .background {
    background-position-x: 45%;
    filter: brightness(40%);
  }

  .aboutTitle {
    font-size: 25vw;
    align-self: end;
    font-weight: 200;
    margin-bottom: 150px;
  }
}
