:root {
  --prayerMaxHeight: 400px;
  --prayerMinHeight: 400px;
  --prayerContentMaxHeight: 300px;
  --prayerContentMinHeight: 300px;
}

@font-face {
  font-family: "RobotoFlex";
  src: url("../fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "KozukaGothicProB";
  src: url("../fonts/Kozuka_Gothic_Pro/KozGoProBold.otf") format("opentype");
}

.KozukaGothicProB {
  font-family: "KozukaGothicProB";
}

body {
  margin: 0;
  padding: 0;
  font-family: RobotoFlex;
}

div {
  box-sizing: border-box;
}

.menu {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: -100vw;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
}
.hamburgerIcon {
  position: fixed;
  right: 40px;
  top: 10px;
  width: 50px;
  height: 50px;
  z-index: 101;
}

.overlay {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.overlayContent {
  width: 70%;
  max-height: 90vh;
  min-width: 800px;
  padding: 50px;
  background-color: #e2e5e7;
  column-count: 1;
  position: relative;
  box-sizing: border-box;
}

.overlayContentTitle {
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  font-size: 40px;
  font-weight: 900;
}

.overlayContentText {
  box-sizing: border-box;
  width: 100%;
  line-height: 24px;
  column-count: 3;
}

.overlayClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.overlayClose:hover {
  color: #ff0000;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("../img/MadonnaChild_Landscape.jpg");
  background-size: cover;
  background-position: center top;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(30%);
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
}

.aboutTitle {
  font-size: 150px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
}

.prayerContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 100px;
  width: 100%;
}

.prayerCategory {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 0px 0 40px 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.prayerCategoryTitle {
  grid-row: 1;
  height: 100%;
  width: 50%;
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  font-size: 70px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: white;
  margin-bottom: 60px;
}

.prayerCategorySubCategories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-content: center;
}

.prayerSubCategory {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.prayerSubCategoryTitle {
  grid-row: 1;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  font-size: 30px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}

.prayerSubCategoryPrayers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  grid-row: 2;
  justify-content: center;
  align-content: center;
}

.prayer {
  width: clamp(360px, 90%, 450px);
  max-height: var(--prayerMaxHeight);
  background-color: #f0f2f5;
  padding: 20px 20px 40px 20px;
  box-sizing: border-box;
  background-color: rgba(220, 225, 230, 0.9);
  position: relative;
}

.prayerTitle {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 900;
}

.prayerContent {
  overflow-y: auto;
  max-height: var(--prayerContentMaxHeight);
  line-height: 1.6em;
  font-size: 1em;
  font-weight: 300;
  /* background-color: rgba(255, 0, 0, 0.1); */
}

.expand {
  font-size: 20px;
  color: #808080;
  position: relative;
}

/* Chaplets */

.expandBox {
  position: absolute;
  right: 10px;
  bottom: 3px;
}

.shrinkBox {
  position: absolute;
  right: 10px;
  bottom: 3px;
}

.chapletStep {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 10px;
  width: 100%;
}

.chapletStepTitleNumber {
  font-size: 24px;
  display: grid;
  place-items: center;
  margin-top: 2px;
}

.chapletStepTitle {
  display: flex;
  width: 100%;
  gap: 10px;
}

.chapletStepTitleText {
  display: grid;
  align-items: center;
}

.chapletStepBody {
  grid-column: 1;
  grid-row: 2;
  margin-left: 34px;
}

.chapletStepBodyParagraph {
  font-weight: 400;
  margin-bottom: 10px;
}

.chapletRepeat {
  font-weight: 600;
  margin-bottom: 10px;
}

.chapletStepBead {
  font-weight: 300;
}

chapletSubStep {
  padding-left: 20px;
}

.chapletSubStepTitle {
  font-weight: 600;
  margin-bottom: 10px;
}

.chapletSubStepText {
  font-weight: 400;
  margin-bottom: 12px;
}

.chapletImage {
  /* width: 360px; */
  height: 700px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .overlayContent {
    width: 100%;
  }

  .background {
    background-position-x: 45%;
    filter: brightness(40%);
  }

  .aboutTitle {
    font-size: 25vw;
    align-self: end;
    font-weight: 200;

    margin-bottom: 150px;
  }

  .prayerCategoryTitle {
    font-size: 40px;
  }

  .prayerSubCategoryTitle {
    grid-row: 1;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
  }
  .expand {
    font-size: 20px;
    color: #808080;
    position: relative;
  }

  .expandBox {
    position: absolute;
    right: 10px;
    bottom: 3px;
  }

  .shrinkBox {
    position: absolute;
    right: 10px;
    bottom: 3px;
  }

  .overlayContent {
    width: 100vw;
    height: 100vh;
    min-width: 360px;
    padding: 15px;
    align-self: start;
    box-sizing: border-box;
  }

  .overlayContentTitle {
    font-size: 24px;
    margin-top: 50px;
  }

  .overlayContentText {
    /* overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; */
  }
}
